<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="db.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--开启驼峰命名映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--设置别名-->
    <typeAliases>
        <!--给当前包下所有的类都设置别名，默认都是类名首字母小写的格式-->
        <package name="com.jxd.eas.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <!--事务管理采用JDBC方式-->
            <transactionManager type="JDBC"/>
            <!--配置连接池方式的数据源-->
            <dataSource type="POOLED">
                <!--根据数据库连接四大参数创建连接放入连接池-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--注册mapper映射文件-->
    <mappers>
        <mapper resource="mappers/CourseMapper.xml"/>
        <mapper resource="mappers/UserLoginMapper.xml"/>
        <mapper resource="mappers/CollegeMapper.xml"/>
        <mapper resource="mappers/TeacherMapper.xml"/>
        <mapper resource="mappers/StudentMapper.xml"/>
        <mapper resource="mappers/SelectedCourseMapper.xml"/>
    </mappers>

</configuration>
